:root {
  --primary-text-color: #1b3764;
  --secondary-text-color: #ffffff;
  --accent-color: #ffca42;
  --nav-text-color: #f6f8fc;
  --text-color: #b4c7e7;
  --grey-text-color: #969aa0;
  --primary-font: 'Inter', sans-serif;
  --accent-font: 'Cardo', serif;
}
* {
  box-sizing: border-box;
}

body {
  font-family: var(--primary-font);
  font-weight: 400;
  font-size: 19px;
  line-height: 1.5;
  color: var(--grey-text-color);
}
ul {
  padding: 0;
}

h2,
h3 {
  font-family: var(--accent-font);
  color: var(--primary-text-color);
}

h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 400;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 1330px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.link {
  display: block;
  color: inherit;
  text-decoration: none;
}
.button {
  padding: 19px 52px;
  font-family: var(--accent-font);
  border: 2px solid var(--accent-color);
  background-color: var(--accent-color);
  letter-spacing: 0.57px;
  color: var(--primary-text-color);
  cursor: pointer;
}
.dot::before {
  content: '';
  position: absolute;
  display: block;
  background: #ffca42;
  border-radius: 100px;
  width: 16px;
  height: 16px;
  margin-right: 10px;
  left: 0;
  top: 10%;
}
.bottom-line::after {
  position: absolute;
  bottom: 0;
  left: 48%;
  content: '';
  display: block;
  background-color: var(--accent-color);
  width: 50px;
  height: 3px;
  text-align: center;
}
/* Header */
.header {
  background-color: var(--primary-text-color);
  padding-top: 30px;
}
.header-cantainer {
  display: flex;
  justify-content: space-between;
}
.social-media-cover {
  display: flex;
  align-items: center;
}
.main-nav-cover {
  display: flex;
  align-items: center;
}
.logo {
  width: 120px;
  height: 35px;
}
.header-logo {
  margin-right: 35px;
}
.social-media {
  display: flex;
}
.social-media__item {
}
.social-media__item:not(:last-child) {
  margin-right: 10px;
}
.social-media__item--white {
  background-color: var(--secondary-text-color);
}
.social-media__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45px;
  height: 45px;
}
.social-media__icon {
  width: 16px;
  height: 16px;
}
.main-nav {
  display: flex;
  color: var(--nav-text-color);
  font-size: 17px;
  letter-spacing: 0.17px;
}
.main-nav__item:not(:last-child) {
  margin-right: 50px;
}
.main-nav__item:hover {
  color: var(--accent-color);
}
.header-btn {
  margin-left: 50px;
}
/* Hero */
.hero {
  background-color: var(--primary-text-color);
  padding-bottom: 120px;
  padding-top: 120px;
  font-family: var(--accent-font);
  color: var(--secondary-text-color);
}
.hero-cover {
  display: flex;
}
.title-cover {
  padding-top: 145px;
  max-width: 580px;
}
.title-cover__welcome {
  position: relative;
  padding-left: 50px;
  font-family: var(--accent-font);
  font-size: 21px;
  line-height: 1.7;
  letter-spacing: 1.2px;
  color: var(--secondary-text-color);
}
.title-cover__welcome::before {
  content: '';
  position: absolute;
  display: block;
  top: 50%;
  height: 2px;
  width: 35px;
  background-color: var(--accent-color);
  left: 0;
}
.title-cover__title {
  font-size: 64px;
  line-height: 1.22;
  letter-spacing: 1.3px;
  margin-top: 15px;
  margin-bottom: 25px;
}
.title-cover__text {
  font-family: var(--primary-font);
  font-size: 18px;
  line-height: 1.58;
  color: var(--text-color);
}
.btn-cover {
  display: flex;
  margin-top: 35px;
  align-items: center;
}
.title-cover__btn {
  margin-right: 50px;
}
.title-cover__link {
  line-height: 1.6;
  letter-spacing: 0.38px;
  border-bottom: 1px solid var(--secondary-text-color);
}
.title-cover__list {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}
.title-cover__item {
  position: relative;
  padding-left: 25px;
  font-size: 24px;
  line-height: 1.2;
  letter-spacing: 0.48px;
}
.title-cover__item > span {
  font-family: var(--primary-font);
  font-size: 17px;
  line-height: 1.6;
  color: var(--text-color);
  display: inline-block;
  margin-top: 12px;
}

.main-img-cover {
  margin-left: auto;
}
/* Books */
.books {
  padding-top: 126px;
  padding-bottom: 150px;
}
.books-title {
  position: relative;
  text-align: center;
  font-size: 42px;
  line-height: 1.2;
  padding-bottom: 25px;
}

.books-list {
  display: flex;
  justify-content: space-between;
  padding-top: 65px;
}
.books-list__item {
  display: flex;
}
.books-list__img {
  filter: drop-shadow(0px 0px 11px rgba(0, 0, 0, 0.2));
  margin-right: 30px;
  max-width: 285px;
}
.books-list__desc {
  padding-top: 40px;
  max-width: 290px;
}
.books-list__name {
  font-size: 32px;
  line-height: 1.2;
  letter-spacing: 0.32px;
  margin-bottom: 10px;
}
.books-list__price {
  font-size: 21px;
  line-height: 1.57;
  color: var(--accent-color);
  margin-bottom: 16px;
}
.books-list__about {
  line-height: 1.5;
  margin-bottom: 10px;
}
.books-list__format {
  position: relative;
  padding-left: 25px;
  font-size: 24px;
  line-height: 1.2;
  color: var(--primary-text-color);
  font-family: var(--accent-font);
  margin-bottom: 27px;
}
.books-list__format::before {
  top: 25%;
}
.books-list__btn {
  background-color: var(--secondary-text-color);
}
/* About author */
.author {
  background-color: var(--nav-text-color);
}
.about-author {
  display: flex;
  justify-content: space-between;

  padding-top: 150px;
  padding-bottom: 140px;
}
.about-author__img {
  max-width: 575px;
}
.about-author__desc {
  padding-top: 50px;
  max-width: 605px;
}
.about-author__title {
  font-size: 42px;
  line-height: 1.2;
  position: relative;
  padding-bottom: 23px;
  margin-bottom: 33px;
}
.about-author__title::after {
  left: 0;
}
.about-author__bio {
  line-height: 1.8;
  margin-bottom: 34px;
}
.author-stat {
  display: flex;
  margin-bottom: 55px;
}
.author-stat__item {
  width: 180px;
  position: relative;
}
.author-stat__item:not(:last-child) {
  margin-right: 26px;
}
.author-stat__item:not(:last-child)::after {
  content: '';
  display: block;
  height: 98px;
  width: 1px;
  background-color: var(--accent-color);
  position: absolute;
  right: 0;
  top: 0;
}
.author-stat__number {
  font-size: 54px;
  line-height: 1.43;
  color: var(--primary-text-color);
  font-family: var(--accent-font);
}
.author-stat__index {
  font-size: 17px;
  line-height: 1.27;
  color: var(--grey-text-color); /* identical to box height, or 127% */
}
.author-contact {
  display: flex;
  background-color: var(--primary-text-color);
  padding: 16px 20px;
  max-width: 500px;
}
.author-contact__qr {
  margin-right: 40px;
}
.author-contact__info {
  padding-top: 18px;
}
.author-contact__name {
  font-size: 22px;
  line-height: 1.2;
  font-family: var(--accent-font);
  margin-bottom: 10px;

  color: var(--accent-color);
}
.author-contact__contact {
  display: flex;
  font-size: 18px;
  line-height: 1.58;
  letter-spacing: 0.19px;
  color: var(--text-color);
}
.author-contact__contact-link {
  margin-left: 10px;
}
/* Bookstores */
.bookstores {
  padding-top: 110px;
  padding-bottom: 130px;
}
.bookstore__title {
  text-align: center;
  position: relative;
  padding-bottom: 23px;
  font-size: 42px;
  line-height: 1.2;
  margin-bottom: 76px;
}
.bookstore__list {
  display: flex;
  justify-content: space-between;
}
.bookstore__item {
  text-align: center;
  max-width: 313px;
}
.bookstore__name {
  font-size: 24px;
  line-height: 1.2;
  margin-bottom: 19px;
}
.bookstore__desc {
  line-height: 1.5;
}

.bookstore__item::before {
  display: block;
  margin-bottom: 19px;
}
.bookstore__item--store1::before {
  content: url(../img/store1.svg);
}
.bookstore__item--store2::before {
  content: url(../img/store2.svg);
}
.bookstore__item--store3::before {
  content: url(../img/store3.svg);
}
.bookstore__item--store4::before {
  content: url(../img/store4.svg);
}
/* Get copy */
.get-copy {
  background-color: var(--primary-text-color);
  padding: 70px 0;
}
.book-copy {
  display: flex;
  justify-content: space-between;
}
.book-copy__info {
  padding-top: 75px;
  max-width: 540px;
}
.book-copy__title {
  position: relative;
  font-size: 45px;
  line-height: 1.2;
  color: var(--secondary-text-color);
  padding-bottom: 24px;
  margin-bottom: 27px;
}
.book-copy__title::after {
  left: 0;
}
.book-copy__desc {
  color: var(--text-color);
  margin-bottom: 27px;
}
.book-copy__btn {
  background-color: var(--primary-text-color);
  color: var(--secondary-text-color);
}
