.footer {
  background-color: var(--primary-text-color);
  padding-top: 92px;
  padding-bottom: 24px;
}
.footer__container {
  display: flex;
  justify-content: space-between;
}
.footer-social {
}
.footer__logo {
  margin-bottom: 20px;
}
.social-media__icon--white {
  fill: var(--secondary-text-color);
}
.social-media__item--transparent {
  border: 1px solid var(--accent-color);
}
.footer__list-title {
  font-size: 24px;
  line-height: 1.4;
  color: var(--secondary-text-color);
  margin-bottom: 24px;
  letter-spacing: 0.384px;
}
.footer__item {
  color: var(--text-color);
  font-size: 17px;
  line-height: 1.8;
  display: flex;
  align-items: center;

  letter-spacing: 0.18px;
}
.footer__item:not(:last-child) {
  margin-bottom: 9px;
}
.footer__item::before {
  content: '';
  background-image: url(../img/dots.svg);
  display: block;
  width: 20px;
  height: 5px;
  background-repeat: no-repeat;
  margin-right: 11px;
}
.contacts__address-cover {
  display: flex;
}
