.subscription {
  padding: 120px 0;
}
.subscription__cover {
  text-align: center;
  padding: 100px 150px 115px;
  background-color: var(--accent-color);
}
.subscription__title {
  position: relative;
  font-size: 42px;
  line-height: 1.2;
  margin-bottom: 25px;

  text-align: center;
}
.subscription__title::after {
  background-color: var(--primary-text-color);
}
.subscription__text {
  max-width: 550px;
  margin: 0 auto;
  color: var(--primary-text-color);
  font-size: 18px;
  line-height: 1.58;
  margin-bottom: 50px;
}
.subsc-form__input {
  padding: 20px 40px;
  width: 650px;
  border: 1px solid var(--text-color);
}

.subsc-form__input::placeholder {
  color: var(--text-color);
  font-size: 18px;
}
.subsc-form__btn {
  font-size: 18px;
  line-height: 1.7;
  color: var(--secondary-text-color);
  text-align: center;
  letter-spacing: 0.18px;
  padding: 14px 120px;
  background-color: var(--primary-text-color);
}
