:root {
  --primary-text-color: #1b3764;
  --secondary-text-color: #ffffff;
  --accent-color: #ffca42;
  --focus-color: #f7b40d;
  --nav-text-color: #f6f8fc;
  --text-color: #b4c7e7;
  --bg-item-color: #f4f8ff;
  --body-text-color: #969aa0;
  --primary-font: 'Inter', sans-serif;
  --accent-font: 'Cardo', serif;
}
